python-dotenv==1.0.1
streamlit==1.37.1
langchain==0.2.14
langchain-community==0.2.12
faiss-cpu==1.8.0
sentence-transformers==3.0.1
pypdf==4.2.0
tiktoken==0.7.0
openai==1.39.0
google-generativeai==0.7.2
pyyaml==6.0.1
pytest==8.2.2
